extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, 
                 |consectetur adipiscing elit. Mauris eu augue nisl. 
                 |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                 |Duis rutrum porttitor dui eget laoreet. Nunc scelerisque.


                p Sed mattis pulvinar urna eu ultrices. Aenean consequat ac tortor et ornare. 
                 |Vivamus finibus magna nibh, ornare mollis risus mattis id. Ut auctor ex a gravida rhoncus. 
                 | Nunc vestibulum eleifend libero a interdum. Pellentesque at blandit dolor
                 |Nunc vestibulum eleifend libero a interdum. Pellentesque at blandit dolor.

                p Curabitur vel sapien tincidunt, porttitor erat eget, facilisis eros. Pellentesque eu odio 
                 |et nulla pharetra egestas. Suspendisse pulvinar arcu nec metus molestie dictum. Pellentesque 
                 |at ligula ultrices, varius purus in, aliquet dolor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid(src="img/icono_seguridad.svg", alt="", class="mb-4")
                    h2.mb-4 Seguridad
                    p Nunc vestibulum eleifend libero a interdum. Pellentesque at blandit dolor.
                .col-md-4
                    img.img-fluid(src="img/icono_seguridad.svg", alt="", class="mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc vestibulum eleifend libero a interdum. Pellentesque at blandit dolor.
                .col-md-4
                    img.img-fluid(src="img/icono_seguridad.svg", alt="", class="mb-4")
                    h2.mb-4 Mejor Precio
                    p Nunc vestibulum eleifend libero a interdum. Pellentesque at blandit dolor.
                
