footer.container.py-5
    .row
        .col-6.col-md-4
            nav.nav.justify-content-center.justify-content-md-end
                a(href="#", class="nav-link") nosotros
                a(href="#", class="nav-link") viajes
                a(href="#", class="nav-link") Contacto
        .col-6.col-md-4
        .col-6.col-md-4
            p.copyritght.text-center.text-md-right 
                | Todos los Derechos Reservados 
                span= fechaActual